<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8" />
        <title>逢甲大學 緊急事件通報系統</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon">
    </head>
    <body>
        <h2 align = "center"><font color = CoconutBrown>版權聲明</font></h2>
        <h3 align = "center"><font color = Cornflowerblue>版權擁有者：　</font><font color = black>王建葦</font></h3>
        <h3 align = "center"><font color = Cornflowerblue>授權使用者：　</font><font color = black>逢甲大學 衛保救護隊</font></h3>
        <h3 align = "center"><font color = Cornflowerblue>版本：</font>Alpha 1.0.0</h3>
        <h3 align = "center"><input type = "button" value = "返回" style="width:120px;height:40px;font-size:20px;" onclick = "history.back()"></h3>
    </body>
</html>